ul{
    list-style: none;
}

#header-nav{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}
#header-nav>ul{
    width: 40%;
    display: flex;
    justify-content: space-between
}
#brand{
    margin-left: 5%;
    margin-top: 15px;
}
i{
    margin-right: 5%;
    margin-top: 15px;
}
